<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </hardware>
        <joint name="Back_left_wheel_joint">
            <command_interface name="velocity" />
            <state_interface name="velocity" />
            <state_interface name="position" />
        </joint>
        <joint name="Back_right_wheel_joint">
        <command_interface name="velocity" />
            <state_interface name="velocity" />
            <state_interface name="position" />
        </joint>
        <joint name="Control_left_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="Control_right_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="Front_left_wheel_joint">
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        <joint name="Front_right_wheel_joint">
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
    </ros2_control>

    <gazebo>
        <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
            <parameters>$(find jetracer_description)/config/jetracer_controllers.yaml</parameters>
            <controller_manager_prefix_node_name>$(arg namespace)/controller_manager</controller_manager_prefix_node_name>
                <ros>
                    <namespace>$(arg namespace)</namespace>
                    <remapping>/robot_description:=robot_description</remapping>
                    <remapping>/tf:=tf</remapping>
                    <remapping>/tf_static:=tf_static</remapping>
                </ros>
        </plugin>
  </gazebo>
</robot>