<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="jetracer">

    <!-- This is the jetracer's main body -->

    
    <xacro:macro name="base_link" params="name mesh *origin">
        <!-- predefined constants -->
        <xacro:property name="mass" value="1.8406011312543528735"/>
        <xacro:property name="inertial_origin_xyz" value="0.0087080525256227510333 0.021073889490614984565 0.0015088698608053188743"/>
        <xacro:property name="inertial_origin_rpy" value="0 0 0"/>

        <link name="base_link">
            <visual>
                <xacro:insert_block name="origin"/>
                <geometry>
                    <mesh filename="${mesh}" scale="1 1 1"/>
                </geometry>
                <material name="base_link_material">
                    <color rgba="0.61568627450980395466 0.81176470588235294379 0.92941176470588238168 1.0"/>
                </material>
            </visual>
            <collision>
                <xacro:insert_block name="origin"/>
                <geometry>
                    <mesh filename="${mesh}" scale="1 1 1"/>
                </geometry>
            </collision>
            <inertial>
                <origin xyz="${inertial_origin_xyz}" rpy="${inertial_origin_rpy}"/>
                <mass value="${mass}" />
                <inertia ixx="0.01437259083730600337" ixy="0"  ixz="0" iyy="0.0024798752812298968835" iyz="-0.00056745694828192990485" izz="0.016253045318344521569" />
            </inertial>
        </link> 

    </xacro:macro>

</robot>
