<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="jetracer">

    <!-- ================= PROPERTIES ================== -->
    <xacro:property name="scale" value="0.001 0.001 0.001" />
    <!-- ==== meshes ==== -->
    <xacro:property name="chassis_link_mesh"               value="file://$(find jetracer_description)/meshes/Base_link.stl" />

    <!-- Rear -->
    <xacro:property name="Back_left_wheel_mesh"         value="file://$(find jetracer_description)/meshes/Back_left_wheel_link.stl" />
    <xacro:property name="Back_right_wheel_link"        value="file://$(find jetracer_description)/meshes/Back_right_wheel_link.stl" />

    <!-- Front -->
    <xacro:property name="Control_left_wheel_link"      value="file://$(find jetracer_description)/meshes/Control_right_wheel_link.stl" />
    <xacro:property name="Front_left_wheel_mesh"        value="file://$(find jetracer_description)/meshes/Front_left_wheel_link.stl" />

    <xacro:property name="Control_right_wheel_link"     value="file://$(find jetracer_description)/meshes/Control_right_wheel_link.stl" />
    <xacro:property name="Front_right_wheel_link"       value="file://$(find jetracer_description)/meshes/Front_right_wheel_link.stl" />

    <xacro:property name="Lidar_mesh"                   value="file://$(find jetracer_description)/meshes/Lidar_link.stl" />

    <!-- ==== materials ==== -->
    <xacro:property name="chassis_link_material"           value="0.25 0.25 0.25 1" />

    <!-- Rear -->
    <xacro:property name="Back_left_wheel_material"     value="0.5 0.5 0.4 1" />
    <xacro:property name="Back_right_wheel_material"    value="0.5 0.5 0.4 1" />

    <!-- Front -->
    <xacro:property name="Control_left_wheel_material"  value="0.5 0.5 0.4 1" />
    <xacro:property name="Front_left_wheel_material"    value="0.5 0.5 0.4 1" />

    <xacro:property name="Control_right_wheel_material" value="0.5 0.5 0.4 1" />
    <xacro:property name="Front_right_wheel_material"   value="0.5 0.5 0.4 1" />
    
    <xacro:property name="Lidar_material"               value="0.5 0.5 0.4 1" />

    <!-- ==== mass ==== -->
    <xacro:property name="chassis_link_mass"               value="1.176913520449639" />

    <!-- Rear -->
    <xacro:property name="Back_left_wheel_mass"         value="0.05430175599038289" />
    <xacro:property name="Back_right_wheel_mass"        value="0.05430175599038289" />

    <!-- Front -->
    <xacro:property name="Control_left_wheel_mass"      value="0.0022633439186205465" />
    <xacro:property name="Front_left_wheel_mass"        value="0.05430175599038289" />
    
    <xacro:property name="Control_right_wheel_mass"     value="0.0022633439186205465" />
    <xacro:property name="Front_right_wheel_mass"       value="0.05430175599038289" />

    <xacro:property name="Lidar_mass"                   value="0.08486622487588467" />

    <!-- constants -->
    <xacro:property name="PI" value="3.1415" />
    <xacro:property name="scale" value="0.001 0.001 0.001" />

    <!-- ================= INCLUDES ================== -->
    <xacro:include filename="jetracer_links.xacro"  />
    <xacro:include filename="jetracer_joints.xacro"  />
    <xacro:include filename="jetracer_sensors.xacro"  />
</robot>